{% extends "AppBlog/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h1>Acerca de Nosotros</h1>
<p>Soy Federico Donadio, estoy dando mis últimos pasos en la carrera de ingeniería electrónica y adentrándome en el mundo de la programación. Disfruto mucho el ver y hacer deportes, sobre todo el futbol y el ping-pong, que son mi cable a tierra junto con la música. Espero que este blog sea el inicio de un camino dentro del gran mundo de la programación, el cual me encantaría transitar.</p>
<p>Soy Federico Fernandez, cocinero hace años, siempre me intereso la programacion y ahora como hobby estudiando python y proximamente SQL.</p>
<p>Soy Fernando Romero , estoy entrando en el mundo de la ciberseguridad, practicando Pentesting en mis ratos libres, me encanta hacer retos CTF y encontrar cierta vulnerabilidad en el sistema, me pareció una gran idea hacer este curso de desarrollo Backend con Python para agrandar mis conocimientos en la programación y saber como se estructura una web desde cero ya que siempre tuve la ideología de que si sabes crear vas a saber romper y viceversa.</p>
{% endblock %}