{% extends "AppBlog/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<p>
    El café es una de las bebidas más consumidas del planeta, adictivo en exceso y revitalizante si se toma en su justa medida.
    Aqui podras buscar las variedades de los cafés y sus detalles.
</p>

<h>Buscar Cafe</h>

<form action="/AppBlog/cafeVinos" method="GET">
    <input type="text" name="nombre" id="nombre">
    <input type="submit", value="Buscar">
</form>

<p> 
    Si desea ver los tipo de Cafés:
</p>
<a href="{% url 'cafeLista' %}">Ver todos</a>
{% endblock %}