{% extends "AppBlog/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<p>
   
</p>



<p>Por muy llenos que estemos después de una comida copiosa, es difícil renunciar al postre.
    Y, como el dulce siempre llama, aquí podrán buscar informacion sobre los postres más tentadores. 
</p>
<h>Buscar postres</h>
<form action="/AppBlog/buscarPostres" method="GET">
    <input type="text" name="nombre" id="nombre">
    <input type="submit", value="Buscar">
</form>

<p> 
    Si desea ver todos los postres de la pagina presione aqui:
</p>
<a href="{% url 'postresLista' %}">Ver todos</a>
{% endblock %}