{% extends "AppBlog/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<p>
    En la Grecia Antigua se creía que el Origen del Queso venía de la mano Aristeu y que su fabricación fue realizada por Ciclopes,
    pero ¿Quien se va a fijar de donde viene el queso con lo rico que es? Descubri la gran variedad de quesos que existe!
</P>
<h>Buscar Quesos</h>

<form action="/AppBlog/buscarQuesos" method="GET">
    <input type="text" name="nombre" id="nombre">
    <input type="submit", value="Buscar">
</form>

<p> 
    Si desea ver todos los quesos de la pagina presione aqui:
</p>
<a href="{% url 'quesosLista' %}">Ver todos</a>
{% endblock %}